#p3 {
	color: yellow;
}

* {
	font-family: "Verdana", monospace; font-size: 20px;
}

h1 {
	font-size: 4rem;
}



#h2 {
	text-transform: uppercase;
	font-size: 0.85rem;
}
.ol1 {
	background-color: lightgreen;
}


li[class="ol2"]
{
	border: 2px solid blue;
}

img + ul {
	list-style-type: none;
}





section img{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	}



ul ~ p {
	text-align: center;
	color: black;
}

body > section > ul {
	
	Letter-spacing: 5px;}


